@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body, html {
    margin: 0;
    height: 100%;
    width: 100vw;
    overflow: hidden; 
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 100%;
    width: 100vw;
    height: 100vh;
    position: relative
}

.grid-item1 {
    background-color: rgb(144, 255, 128);
}

.menu {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.menu li {
    margin: 10px 0; 
}

.menu a {
    font-family: 'Montserrat', sans-serif;
    color:  rgb(94, 23, 235);
    text-decoration: none; 
    display: block; 
    padding: 10px; 
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: rgb(94, 23, 235);
    color: rgb(173, 255, 47);
}

.image-container {
    display: flex;             
    position: relative; 
    float: left; 
    margin-left: 150px; 
    max-width: 100%;        
    height: auto; 
}

.grid-item2 {
    background-color: rgb(94, 23, 235);
}

.presentation {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    text-align: right;
    margin-right: 22%;
    font-family: 'Montserrat', sans-serif;
    color: rgb(128, 255, 0);
}

