@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body, html {
    margin: 0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden; 
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 100%;
    width: 100vw;
    height: 100vh;
    position: relative
}

.grid-item1 {
    background-color: rgb(144, 255, 128);
    
}

.menu {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.menu li {
    margin: 10px 0; 
}

.menu a {
    font-family: 'Montserrat', sans-serif;
    color:  rgb(94, 23, 235);
    text-decoration: none; 
    display: block; 
    padding: 10px; 
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: rgb(94, 23, 235);
    color: rgb(173, 255, 47);
}

.grid-item2 {
    background-color: rgb(94, 23, 235);
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 0.3cm;
    margin-right: 0.3cm;
    max-width: 1000px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(173, 255, 47)
}


